.navItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  border: light-dark(var(--color-neutral-0), var(--color-neutral-950)) 1px solid;
  border-radius: 8px;
}

.link {
  font-size: var(--font-size-14);
  width: 100%;
  color: light-dark(var(--color-neutral-700), var(--color-neutral-200));
  text-decoration: none;
}

.linkIcon {
  display: inline-block;
  vertical-align: -4px;
  margin-right: 0.8rem;
  color: light-dark(var(--color-neutral-700), var(--color-neutral-200));
}

.caretIcon {
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
}

.linkIcon,
.caretIcon {
  width: 20px;
  height: 20px;
}

/* selected & hover states */
.selected {
  background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  border-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
}

.selectedFont {
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
}

.blueIcon {
  color: var(--color-blue-500);
}

.navItemWrapper:hover,
.navItemWrapper:active {
  border-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  transition: 0.8s;
}