.header {
  grid-area: header;
  padding: 2rem 3.2rem;
  border: var(--color-neutral-200) solid 1px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: var(--font-size-24);
  color: var(--color-neutral-950);
}

.actionsWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.settingsIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--color-neutral-500);
}

.settingsIcon:hover,
.settingsIcon:active {
  color: var(--color-neutral-600);
}