.header {
  grid-area: header;
  padding: 2rem 3.2rem;
  border-bottom: light-dark(var(--color-neutral-200), var(--color-neutral-800)) solid 1px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: var(--font-size-24);
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
}

.actionsWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.settingsIcon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  color: light-dark(var(--color-neutral-500), var(--color-neutral-600));
}

.settingsIcon:hover,
.settingsIcon:active {
  color: light-dark(var(--color-neutral-600), var(--color-neutral-0));
  transition: 0.8s;
}