.emptyNotesCard {
  padding: 0.8rem;
  background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  border: solid 1px light-dark(var(--color-neutral-200), var(--color-neutral-700));
  border-radius: 8px;
}

.emptyMessage {
  font-size: var(--font-size-14);
  font-weight: 300;
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
}

.notesList {
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}