.sidebar {
  grid-area: sidebar;
  border-right: light-dark(var(--color-neutral-200), var(--color-neutral-800)) solid 1px;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.6rem 2rem 3.2rem;
  gap: 1.6rem;
  max-height: 88vh;
}