.searchWrapper {
  display: flex;
  gap: 0.8rem;
  border: var(--color-neutral-300) solid 1px;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-500);
}

.searchInput {
  font-size: var(--font-size-14);
  letter-spacing: 0.4px;
  width: 23rem;
  color: var(--color-neutral-950);
  border: transparent;
  outline: transparent;
}

.searchInput::placeholder {
  color: var(--color-neutral-500);
}

.searchWrapper:hover,
.searchWrapper:active,
.searchInput:hover::placeholder {
  color: var(--color-neutral-950);
  border-color: var(--color-neutral-600);
  border-width: 1.5px;
  transition: 0.8s;
}
