.searchWrapper {
  display: flex;
  gap: 0.8rem;
  border: light-dark(var(--color-neutral-300), var(--color-neutral-600)) solid 1px;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
}

.searchInput {
  font-size: var(--font-size-14);
  letter-spacing: 0.4px;
  width: 23rem;
  color: light-dark(var(--color-neutral-950), --color-neutral-0);
  border: transparent;
  outline: transparent;
}

.searchInput::placeholder {
  color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
}

.searchWrapper:hover,
.searchWrapper:active,
.searchInput:hover::placeholder {
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
  border-color: light-dark(var(--color-neutral-600), var(--color-neutral-0));
  border-width: 1.5px;
  transition: 0.8s;
}
