.navbar {
  grid-area: navbar;
  border: light-dark(var(--color-neutral-200), var(--color-neutral-800)) solid 1px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
}

.logo {
  padding-block: 0.8rem;
}

.logoSvg > g > path {
  fill: light-dark(var(--color-neutral-950), var(--color-neutral-0));
}

/* .navigation {} */

.noteCategories {
  border-bottom: light-dark(var(--color-neutral-200), var(--color-neutral-800)) solid 1px;
  padding-bottom: 0.8rem;
}