.navbar {
  grid-area: navbar;
  border: var(--color-neutral-200) solid 1px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
}

.logo {
  padding-block: 0.8rem;
}

/* .navigation {} */

.noteCategories {
  border-bottom: var(--color-neutral-200) solid 1px;
  padding-bottom: 0.8rem;
}