@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* 
SPACING (px): 0 / 2 / 4 / 6 / 8 / 12 / 16 / 20 / 24 / 32 / 40 / 48 / 64 / 80
RADIUS (px): 0 / 4 / 6 / 8 / 10 / 12 / 16 / 20 / 24 / 999
*/

:root {
  --font-size-24: 2.4rem;
  --font-size-20: 2rem;
  --font-size-16: 1.6rem;
  --font-size-14: 1.4rem;
  --font-size-12: 1.2rem;

  --color-neutral-950: #0E121B;
  --color-neutral-900: #191B25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2B303B;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99A0AE;
  --color-neutral-300: #CACFD8;
  --color-neutral-200: #E0E4EA;
  --color-neutral-100: #F3F5F8;
  --color-neutral-50: #F5F7FA;
  --color-neutral-0: #FFFFFF;

  --color-blue-700: #2547D0;
  --color-blue-500: #335CFF;
  --color-blue-50: #EBF1FF;

  --color-green-500: #21C16B;
  --color-green-100: #D1FBE9;

  --color-red-500: #FB3748;
  --color-red-100: #FFD5D8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", serif;
  font-size: var(--font-size-16);
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--color-neutral-0);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}