.noteCardWrapper {
  padding: 0.8rem;
  border-bottom: light-dark(var(--color-neutral-200), var(--color-neutral-800)) solid 1px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
  margin-bottom: 0.8rem;
}

.tag {
  font-size: var(--font-size-12);
  padding: 0.3rem 0.6rem;
  margin-right: 0.8rem;
  border-radius: 4px;
  color: light-dark(var(--color-neutral-950), var(--color-neutral-0));
  background-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
}

.lastEdit {
  color: light-dark(var(--color-neutral-700), var(--color-neutral-200));
  font-size: var(--font-size-12);
  margin-top: 0.8rem;
}

.noteCardWrapper:hover,
.noteCardWrapper:active {
  background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  border: solid 1px light-dark(var(--color-neutral-200), var(--color-neutral-700));
  border-radius: 8px;
}